/* .navbar {
  background-color: blue;
  color: #000;
} */
.input-group {
  width: 550px;
}

input[type="search"] {
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
}
input[type="search"]:focus {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-weight: bolder;
}
.searchBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
.btn-success {
  background-color: #1bb76e;
}
